# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Minecraft files
.cache/
ModTranslations/
crash-reports/
debug/
expandedstorage/
logs/
modernfix/
saves/
screenshots/
/*.json
/*.log
/*.zip
/*.dat_old
/*.dat

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode